

 body {
  background-image: linear-gradient(to bottom, rgba(056, 053, 35,0.21), rgba(100,234,45,.41)),url('./Assets/mountains02.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

  .formBackground {
   background: rgba(255,255,255, 0.9);
   padding: 2.4rem;
   padding-bottom: 2rem;
   border: solid black 2px;
   box-shadow: 8px 8px 11px #242927;
   
 }

 h1 {
  font-family: 'Bebas Neue' , 'Arial';
/*   font-family: 'Roboto', 'Space Mono'; */
  letter-spacing: .50rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb();
   
 }

.form {
  font-family: 'Bebas Neue' , 'Space Mono';
  letter-spacing: .10rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(102, 153, 145)
  text-bottom 2rem;
}

.badge {
  color: 0C5016;
}

#formTitle1 {
  font-family: 'Bebas Neue' , 'Arial';
  letter-spacing: .10rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: rgb(19, 40, 47);
}


#addButton {
  font-family: 'Bebas Neue' , 'Arial';
  letter-spacing: .20rem;
  font-size: 1.0rem;
  font-weight: 200;
  color: white;
}

#cardTitle {
  font-family: 'Bebas Neue' , 'Arial';
  letter-spacing: .10rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: rgb(86, 150, 159);
  margin-top:10px;
  text-shadow: 1px 2px 2px #242927;
  border-bottom: 3px solid rgba(41, 36, 36, 0.6);
  margin-top: 25px;

}

#descriptionCard {
  font-family: 'Bebas Neue';
  font-weight: 100;
}

#deleteCard {
  font-family: 'Bebas Neue';
  margin-left: 10px;
  max-height: 40px;
}

#doneCard {
  max-height: 40px;
  font-family: 'Bebas Neue';
  overflow: hidden;
}